body {
    font-family: Arial;
    background-color: #001821;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.42;
    margin: 0;
}



body, html {
    height: 100%;
}



.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1150px;
}



ul {
    padding: 0;
    margin: 0;
}



ul li {
    list-style: none;
}



h1, h2, h3, h4, h5, h6 {
margin: 0;
font-weight: normal;
}



* {
    box-sizing: border-box;
}


p {margin:0}



img {
    max-width: 100%;
}



.main-page-wrapper{
    background-image: url(./image/first.jpg);
}




.container {
    margin: 0 auto;
    width: 1100px;
}



.header {
    padding-top: 45px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__col {
    display: flex;
    align-items: center;
}


.header__col--alogn--right {
    justify-content: flex-end;
}


.logo {
    display: inline-block;
    top: 12px;
    margin-right: 100px;
}



.menu {
    top: 20px;
    left: 215px;
}



.contacts {
    top: 20px;
    right: 30px;
    font-style: normal;
    text-align: right;
}



.contacts__tel {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 4px;
    font-size: 27px;
}



.contacts__dropdawn-title {
    font-size: 13px;
    text-decoration: underline;
}



.menu__item {
display: inline-block;
vertical-align: middle;
margin-right: 50px;
}



.menu__item:last-child {
    margin-right: 0;
}



.menu__link {
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}



.menu__link:hover {
    color: #F5170E;
}



section.preview {   
    width: 40%;
    margin-bottom: 170px;
}



section.preview:last-child {
    margin-bottom: 0;
}



.preview__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 75px;
    margin-bottom: 20px;
}



.preview__title:last-child {
    margin: 0;
}



.preview__info {
    font-size: 13px;
    line-height: 12px;
    font-weight: normal;
    margin-bottom: 29px;
}



.preview__info:last-child {
    margin: 0;
}



.btn {
    background: #F5170E;
    border-radius: 35px;
    padding: 13px 22px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}



.btn--color--ginger {
    background: #F5170E;
}



.btn--color--white {
    background: #ffffff;
    color: red;
    border: 1px solid;
}


.btn--color--white:hover {
    background: rgb(226, 151, 151);
    color: #001821;
}



.btn:hover {
background: #c83784;
box-shadow: 0 0 30px 0 #c83784;
}



.menu__item--active .menu__link {
    color: #F5170E;
}



section.hot-tours {
    margin-bottom: 170px;
}



.hot-tours__title {
margin-bottom: 30px;
}



.hot-tours__title-text {
font-size: 36px;
font-weight: bold;
margin-bottom: 45px;
display: inline;
}



.hot-tours__title-text:last-child {
    margin: 0;
}



.hot-tours__list {
    display: flex;
    justify-content: space-between;
}



.hot-tours__item {
    width: calc(100% / 3 - 18px);
    min-height: 470px;
    background: #ffffff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}



.hot-tours__item:last-child {
    margin: 0;
}



.about__btn-wrapper {
    margin-bottom: 10px;
}


.hot-tours__image {
    min-height: 161px;
    margin-bottom: 28px;
    width: 100%;
    
}



.hot-tours__subtitle {
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}



.hot-tours__subtitle:last-child {
    margin: 0;
}



.hot-tours__content {
    padding: 15px 30px;
    color: #303030;
    flex: 1;
    display: flex;
    flex-direction: column;
}


    
.hot-tours__options {
    margin-bottom: 30px;
}




.hot-tours__options-item {
    width: 125px;
    color: #666666;
    display: inline-block;
    
    
}



.hot-tours__options-icon {
    vertical-align: bottom;
}



.hot-tours__options-item:last-child {
    margin: 0;
}



.hot-tours__btn-wrapper {
    margin-top: 25px;
    display: flex;
    justify-content: start;
    margin-top: auto;
}



section.news {
    margin-bottom: 170px;
    display: flex;
    justify-content: space-between;
}



.news__list {
    margin-bottom: 30px;
    display: flex;
}



.news__list:last-child {
    margin: 0;
}



section.news:last-child {
    margin: 0;
}


.here__container {
    display: flex;
    flex-direction: column;
}



.news__content {
    margin: 0px 30px 30px 30px;
}



.news__item {
    height: 394px;
    margin-right: 2%;
    background: url(./image/news_1.png);
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    align-items: center;

}



.other-picture {
    background: url(./image/news_2.png);
}    




.news__item:last-child {
    margin: 0;
}



.news__title {
    margin-bottom: 30px;
}

.news__image {
    width: 100%;
}


.paginator__list {
    display: flex;
    justify-content: center;
}



.paginator {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.paginator__item {
    text-align: center;
}



.paginator__link {
    display: inline-block;
    height: 32px;
    width: 32px;
    line-height: 32px;
    background: transparent;
    border-radius: 50%;
    color: #ffffff;
    text-decoration: none;
}



.paginator__link:hover {
    color: #F5170E;
    background: #ffffff;
}




.paginator--theme--light {
    color: #666666;
}



.paginator__display--space--between {
    margin-right: 14px;
}



.paginator--theme--light .paginator__item--activ .paginator__link {
    color: #ffffff;
    background: #F5170E;
}



.paginator__item .paginator__link--color--black {
    color: #001821;
}



.paginator--theme--light .paginator__link:hover {
    color: #ffffff;
    background: #F5170E;
}




.about__img {
    width: 500px;
    height: 450px;
}



.about__bg {
    width: 100%;
    height: 100%;
}


.about {
    margin-bottom: 350px;
    display: flex;
}


.about__content {
    max-width: 745px;
    padding: 70px 0px 0px 0px;
    margin-top: 20px;
    margin-left: -150px;
    position: relative;
}


.about__bg--content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 75px 75px;
    min-height: 140px;
}



.about .btn {
    margin-bottom: 10px;
}



footer {
    height: 152px;
    border-top: 1px solid #ffffff;
    background-color: #001821;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}



.footer__col {
    display: flex;
    align-items: center;
    margin-left: 185px;
} 



.footer__col--alignt--right {
    margin-right: 218px;
}



.socials {
    margin-right: 75px;
}



.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}


.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;

}



.socials__item:last-child {
    margin-right: 0;
}



.socials__item--icon--telegram .socials__link {
    background-image: url(./image/telegram.png);
}

.socials__item--icon--telegram .socials__link:hover {
    background-color: aqua;
    border-radius: 20%;
}



.socials__item--icon--vk .socials__link {
    background-image: url(./image/vk.png);
}

.socials__item--icon--vk .socials__link:hover {
    background-color: aqua;
    border-radius: 20%;
}




.socials__item--icon--f .socials__link {
    background-image: url(./image/f.png);
}

.socials__item--icon--f .socials__link:hover {
    background-color: aqua;
    border-radius: 20%;
}



.socials__item--icon--in .socials__link {
    background-image: url(./image/in.png);
}

.socials__item--icon--in .socials__link:hover {
    background-color: aqua;
    border-radius: 20%;
}



/* ------------------SERVICES PAGE------------------------- */


.top-line {
    min-height: 412px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    background: url(./image/page_services/headline\ 1.png)right 10% top no-repeat;
}


.top-line__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.page-title {
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
}


.breadcrumbs__list {
    display: flex;
    align-items: center;

}


.breadcrumbs__link {
    color: #666666;
    font-size: 16px;
    margin-right: 5px;
}


.breadcrumbs__item--activ .breadcrumbs__link {
    color: #F5170E;
    text-decoration: none;
    margin-left: 5px;
}


.breadcrumbs__item:after {
    content: "/";
    color: #666666;
}


.breadcrumbs__item:last-child:after {
    display: none;
}


.breadcrumbs__item {
    display: flex;
    align-items: center;
}


.page-content {
    background: #ffffff;
    color: #666666;
    padding: 60px 0;
}



.services {
    margin-bottom: 65px;
}



.service {
    display: flex;
    margin-bottom: 35px;
}



.service:last-child {
    margin-bottom: 0;
}



.services__imeg {
    width: 30%;
    margin-right: 7%;
}


.service__content {
    flex: 1;
}



.service__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 22px;
    color: #001821;
}



.service__desc {
    line-height: 1.7;
    margin-bottom: 30px;
}



.inner-section {
    background: #ffffff;
    color: black;
    padding: 95px 0;
}



.inner-section--bg--grey {
    background: #F4F5F5;
}



.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 75px;
}



.partners__link {
    text-decoration: none;
    display: flex;
    width: 229px;
    height: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}


.partners__link:hover {
    filter: grayscale(0);
}



.partners {
    display: flex;
    flex-wrap: wrap;
}



.partners__item {
    margin-left: 46px;
}



.partners__item:nth-child(4n + 1) {
    margin-left: 0;
}



.inner-footer {
    margin-top: auto;
}


.footer__column {
    display: flex;
    align-items: center;
}



.footer__column--side--left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer__column--alignt--right{
    justify-content: flex-end;
}
